.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 1000px){
    .services{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 500px){
    .services{
        grid-template-columns: 1fr;
    }
    .camera{
      display: none;
    }
}