.transparent{
    background-color: rgba(240, 255, 255, 0.682);
    z-index: 99;
}
@media (prefers-reduced-motion: no-preference) {
    .camera {
      animation: example infinite 2s linear;
    }
  }
@keyframes example {
    0% {transform: rotate(-40deg);}
    50%{transform: rotate(40deg);}
    100% {transform: rotate(-40deg);}
  }

.camera{
    width: 4rem;
    margin-right: 0;
    margin-left: 2.5rem;
}

.camera:hover{
    background-color: aqua;
    border-radius: 50%;
}
